<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masselis.rxbluetoothkotlin">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <provider
            android:name=".internal.RxBluetoothKotlinContextSniffer"
            android:authorities="${applicationId}.rxbluetoothkotlin-context-sniffer"
            android:exported="false" />
    </application>

</manifest>
